body {
    display: flex;
    margin: 0px auto;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgb(246, 247, 248);
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: rgb(42, 54, 71);
}

.left-sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links {
    display: flex;
    align-items: center;
    color: #b5b6b9;
    background-color: #2a3647;
    width: 232px;
    gap: 8px;
}

.links:hover {
    color: white;
    background-color: rgb(57, 74, 95);
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}

.sidebar-icons {
    margin-left: 64px;
}

.legacy-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b5b6b9;
}

.legacy-links:hover {
    color: rgb(41, 171, 226);
    transition: transform 0.5s;
    transform: scale(1.05);
}

header {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 0px 8px 0px rgb(170 170 170);
    padding-right: 40px;
    padding-left: 120px;
    font-size: 20px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    height: 96px;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0px auto;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.main-content-wrapper {
    max-width: 1440px;
}

.header-help-icon {
    width: 32px;
    height: 32px;
}

.header-profil-icon {
    width: 56px;
    height: 56px;
}

.addTaskContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 150px;
    gap: 20px;
}

.bothSides {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.leftSide,
.rightSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 440px;
}

.seperator {
    width: 1px;
    background-color: #D1D1D1;
    border: 1px;
    height: 450px;
}

.inputStyle {
    display: flex;
    flex-direction: column;
    height: 120px;
    gap: 8px;
}

.selectCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    height: 38px;
    box-sizing: border-box;
    background-color: white;
}

.selectCategory:hover {
    border-color: #29ABE2;
    box-shadow: 0 0 5px #29ABE2;
    transition: all 0.3s ease;
}

.selectCategory span {
    font-size: 16px;
    color: #000;
    font-family: "Inter", sans-serif;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.category-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.category-dropdown.show {
    display: block;
}

.category-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.category-dropdown li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.required-asterisk {
    color: red;
    margin-left: 0px;
    font-size: 20px;
}

.priorityStyle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.priority-button {
    display: flex;
    justify-content: space-between;
}

.titleInput:hover {
    border-color: #29ABE2;
    box-shadow: 0 0 5px #29ABE2;
    transition: all 0.3s ease;
}

.titleInputDescription:hover {
    border-color: #29ABE2;
    box-shadow: 0 0 5px #29ABE2;
    transition: all 0.3s ease;
}

.titleInput {
    height: 38px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #D1D1D1;
    cursor: text;
    padding: 8px 12px;
    box-sizing: border-box;
}

.titleInputDescription {
    height: 96px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #D1D1D1;
    cursor: text;
    padding: 16px 12px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    font-family: "Inter", sans-serif;
    scrollbar-width: none;
}

.titleInput:focus,
.titleInputDescription:focus {
    border-color: #29ABE2 !important;
    box-shadow: none;
    outline: none;
    transition: all 0.3s ease;
}

::placeholder {
    font-size: 16px;
    color: #D1D1D1;
}

#inputField2::placeholder {
    text-align: left;
    font-size: 16px;
    color: #D1D1D1;
    padding: 0;
    position: static;
}

.clear-task-button {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    height: 56px;
}

.clear-btn {
    background-color: white;
    color: #000;
    border-color: #ccc;
}

.priobtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    gap: 8px;
    height: 56px;
}

.urgMedLow-btn {
    background-color: white;
    color: #000;
    border-color: #ccc;
    min-width: 140px;
}

.urgMedLow-btn-medium {
    background-color: #FFA827;
}

.urgMedLow-btn-medium:hover {
    border-color: #29ABE2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.urgMedLow-btn:hover {
    border-color: #29ABE2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.clear-btn:hover {
    border-color: #29ABE2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.create-task-btn {
    background-color: rgb(42, 54, 71);
    color: #fff;
    border-color: #2a3647;
}

.create-task-btn:hover {
    border-color: #29ABE2;
    box-shadow: 0 0 10px rgba(42, 54, 71, 0.5);
}