h4{
    margin: 0px;
}

.overlay-pop-up-board {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.pop-up-board-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 530px;
    border-radius: 30px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 48px 40px;
    gap: 24px;
}

.pop-up-board-inner-container{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 24px;
}



.pop-up-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-category {
  display: flex;
  justify-content: center;
  align-items: center;
 /*  height: 36px; */
  border-radius: 8px;
  padding: 4px 24px;
  background-color: blue;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.pop-up-close-img {
  width: 32px;
  height: 32px;
}

.pop-up-close-img:hover {
  transition: transform 0.5s;
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgb(246, 247, 248);
  border-radius: 100%;
}

.pop-up-task-content{
    display: flex;
    flex-direction: column;
    font-size: 61px;
    gap: 24px;
}

.pop-up-description{
    font-size: 20px;
}

.pop-up-task-info-container {
  display: flex; 
  gap: 24px; 
}

.pop-up-task-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-size: 20px;
}

.task-info-label{
  display: flex;
  flex-direction: column;
}

.task-info-value{
  display: flex;
  align-items: center;
}

.pop-up-assigned-to-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.pop-up-assigned-profils{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.single-assigned-profil{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
}

.assigned-to-profil-icons{
  width: 42px;
  height: 42px;
}

.pop-up-subtasks{
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 20px;
}

.single-subtasks{
  display: flex;
  /* width: 344px; */
  gap: 16px;
  padding: 4px 16px;

  font-size: 16px;
}

.single-subtasks:hover{
  background-color: rgb(246, 247, 248);
  border-radius: 8px;
  cursor: pointer;
}

.pop-up-footer{
  display: flex;
  flex-direction: row-reverse;
}

.pop-up-footer-edit-img{
  width: 62px;
  height: 24px;
  cursor: pointer;
}

.pop-up-footer-delete-img{
  width: 81px;
  height: 24px;
  cursor: pointer;
}

.pop-up-seperator{
  border-left: 1px solid #d1d1d1;
  height: 24px;
  margin: 0px 8px;
}